@font-face {
    font-family: "Ubuntu-Medium";
    src: url("/ fonts/Ubuntu-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1{
    font-family: "Ubuntu-Medium", emoji;
    color: yellow;
}
h2{
    font-family: "Ubuntu-Medium", emoji;
    color: aliceblue;
}
p{
    font-family: "Ubuntu-Medium", emoji;
    color: aliceblue;
}
a{
    font-family: "Ubuntu-Medium", emoji;
    color: aliceblue;
}
body{
    background-color: black;
}
img{
    width: 1000px;
    height: 600px;
}
.cover{
    width: 400px;
    height: 550px;
}